# API key to restrict who can request to backend
API_KEY=jcN7U3qytmhZ7muZUcuMjeHqUuBKIXKqlAA4CffSDA7PIruNp0DbjzzEN

API_JWT_SECRET=PP9jCrYVzEQCQ7WBGZiTrYsK2Vv7cKMN

# Database Environments
POSTGRES_HOST=pg-database # This must be the container service name (Docker)
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nexus_db

# Integration Environments
GITHUB_CLIENT_ID=Iv23liatdxBWfIdXie53
GITHUB_CLIENT_SECRET=112dce5eec811179f71cdd86c6f92c133fb4dfe5
